header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #306F65;
    margin: -8px;
    float: inline-start;
    
}
body{
    background-color: #ADCECA;
    font-family: Arial, Helvetica, sans-serif;
}

.Info h1{
    margin-top: 110px;
    font-size: 55px;
    float: left;
}

.Info img{
    margin-top: 45px;
    margin-left: 90px;
}

.Info{
    display: flexbox;
    animation: fadein 2s;
    margin-left: 350px;
}

.infoButtons{
    margin-top: -150px;
    margin-left: 350px;
}

.infoButtons a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 25px;
    border-style: solid;
    float: left;
    background-color: #5e8d85;
    border-radius: 10px;
}

.infoButtons a:hover{
    animation-name: scaleup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #306F65;
    color: white;
    text-align: center;
  }
.menu {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    display: table;
    margin: 0 auto;
    overflow: hidden;
    background-color: #306F65;
    position: relative;
    text-align:center;
}

.footerContacts{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.footerContacts a{
    display: flexbox;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footerContacts a:hover{
   color: #ffffff;
}

.footerContacts i{
    float: left;
    margin: 0;
    padding-right: 5px;
}

.footerSocial{
    display: flexbox;
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footerSocial i{
    color: black;
}

.footerSocial i:hover{
    color:#ffffff;
}

.logo{
    background-color: #306F65;
    text-align: left;
    margin-top: 8px;
    height: 50%;
    float: left;
    font-size: 40px;
}

.menu i{
    float: left;
    margin: 0;
    padding-right: 10px;
}
  
.menu a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
.menu a:hover {
    background-color: #3A867A;
    color: black;
    animation-name: scaleup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes scaleup {
    0%   { transform:scale(1.0); }
    50%  { transform:scale(1.2); }
    100% { transform:scale(1.0); }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }