header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #306F65;
    margin: -8px;
}
body{
    background-color: #ADCECA;
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
}

@media only screen and(min-width: 992px) {
    .Info{
        line-height: 220px;
    }
}

.Info
{
    animation-name: infoPic;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin-top: 8px;
    margin-right: -8px;
    margin-left: -8px;
    display: block;
    background: url(/images/banner_img.jpg);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    line-height: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    backdrop-filter: blur(4px);
}

.infos{
    font-family: Arial, Helvetica, sans-serif;
}

.infoMain{
    text-align: center;
}
.infoText{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

.infoButtons a{
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 25px;
    border-style: solid;
    background-color: #5e8d85;
    border-radius: 10px;
    max-width: 150px;
    margin: 0 auto;
}

.infoButtons a:hover{
    animation-name: scaleup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #306F65;
    color: white;
    text-align: center;
  }

.menu {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    display: table;
    overflow: hidden;
    background-color: #306F65;
    position: relative;
    margin: 0 auto;
    margin-right: 0px;
}

.footerContacts{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: black;
}

.footerContacts p{
    float: left;
    color: black;
    text-align: center;
    padding: 4px 4px;
    text-decoration: none;
}

.footerContacts a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footerContacts a:hover{
   color: #ffffff;
}

.footerContacts i{
    float: left;
    margin: 0;
    padding-right: 5px;
}

.footerSocial{
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footerSocial i{
    color: black;
}

.footerSocial i:hover{
    color:#ffffff;
}

.logo{
    margin-top: 8px;
    background-color: #306F65;
    text-align: left;
    height: 50%;
    float: left;
    font-size: 40px;
}

.menu i{
    float: left;
    padding-right: 10px;
}
  
.menu a {
    float: left;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
.menu a:hover {
    background-color: #3A867A;
    color: black;
    animation-name: scaleup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.gridContainer{
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
}

.founderPortrait{
    border-radius: 2px;
    text-align: center;
    border-style: solid;
    align-items: center;
}

.seniorPartnerPortrait{
    width: 612px;
    height: 408px;
    border-radius: 2px;
    text-align: center;
    border-style: solid;
    align-items: center;
}

.seniorPartnerPortrait2{
    width: 612px;
    height: 600px;
    border-radius: 2px;
    text-align: center;
    border-style: solid;
    align-items: center;
}
.aboutHeadline{
    text-decoration: underline;
    text-align: center;
    align-self: center;
    font-size: 55px;
}

.aboutSeniorHeadline{
    text-decoration: underline;
    text-align: center;
    align-self: center;
    font-size: 55px;
}


@keyframes scaleup {
    0%   { transform:scale(1.0); }
    50%  { transform:scale(1.2); }
    100% { transform:scale(1.0); }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }

@keyframes infoPic{
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}