header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #306F65;
    margin: -8px;
}
body{
    background-color: #ADCECA;
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
}

.Info
{
    animation-name: infoPic;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin-top: 8px;
    margin-right: -8px;
    margin-left: -8px;
    display: block;
    background: url(images/banner_img.jpg);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    line-height: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    backdrop-filter: blur(4px);
}

.infos{
    font-family: Arial, Helvetica, sans-serif;
}

.infoMain{
    text-align: center;
}
.infoText{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

.infoText p{
    margin-bottom: 15px;
}

.infoButtons a{
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 25px;
    border-style: solid;
    background-color: #5e8d85;
    border-radius: 10px;
    max-width: 150px;
    margin: 0 auto;
}

.infoButtons a:hover{
    animation-name: scaleup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #306F65;
    color: white;
    text-align: center;
}

.menu {
    display: table;
    overflow: hidden;
    background-color: #306F65;
    position: relative;
    margin: 0 auto;
    margin-right: 0;
    margin-top: 0;
}

.menu li{
    margin-top: -15px;
    list-style: none;
    float: left;
}

.footerContacts{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}

.footerContacts p{
    float: right;
    color: black;
    text-align: center;
    padding: 4px 4px;
    text-decoration: none;
}

.footerContacts a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footerContacts a:hover{
   color: #ffffff;
}

.footerContacts i{
    float: left;
    margin: 0;
    padding-right: 5px;
}

.footerSocial{
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.footerSocial i{
    color: black;
}

.footerSocial i:hover{
    color:#ffffff;
}

.logo{
    margin: 0 auto;
    background-color: #306F65;
    text-align: left;
    height: 50%;
    float: left;
    font-size: 40px;;
    display: block;
    align-items: center;
}

.menu i{
    float: left;
    padding-right: 10px;
}
  
.menu a {
    float: left;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
.menu a:hover {
    background-color: #3A867A;
    color: black;
    animation-name: scaleup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.gridContainer{
   margin-right: auto;
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   align-self: center;
}

.founderPortrait{
    border-radius: 2px;
    text-align: center;
    border-style: solid;
    align-items: center;
}

.seniorPartnerPortrait{
    width: 612px;
    height: 408px;
    border-radius: 2px;
    text-align: center;
    border-style: solid;
    align-items: center;
    
}

.seniorPartnerPortrait2{
    width: 612px;
    height: 600px;
    border-radius: 2px;
    text-align: center;
    border-style: solid;
    align-items: center;
}
.aboutHeadline{
    text-decoration: underline;
    text-align: center;
    align-self: center;
    font-size: 55px;
}

.aboutSeniorHeadline{
    text-decoration: underline;
    text-align: center;
    align-self: center;
    font-size: 55px;
}

.googleMapEmbed{
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    border: 5px;
    border-style: solid;
}

.aboutJuniorHeadline{
    text-decoration: underline;
    text-align: center;
    align-self: center;
    font-size: 55px;
}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #000000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #333232; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#000000;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#3A867A; }

.pragueBranch{
    text-align: center; 
}

.brnoBranch{
    text-align: center;
}

@keyframes scaleup {
    0%   { transform:scale(1.0); }
    50%  { transform:scale(1.2); }
    100% { transform:scale(1.0); }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }

@keyframes infoPic{
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1180px){
    .Info{
        line-height: 100px;
    }

    .menu i{
        padding: 0 0;
    }

    .menu a{
        padding: 10px;
        font-size: 13px;
        text-align: left;
    }

    .logo{
        font-size: 35px;
        float: none;
    }

}

@media screen and (max-width: 600px) {
    .founderPortrait{
        width: 300px;
        height: 300px;
    }

    .seniorPartnerPortrait{
        width: 300px;
        height: 300px;
    }

    .seniorPartnerPortrait2{
        width: 300px;
        height: 300px;
    }

    .gridContainer{
        display: flex;
    }

    .footerSocial{
        font-size: medium;
    }

    .footerContacts{
        font-size: small;
    }
}

@media screen and (max-width: 610px) {
    .googleMapEmbed  {
        position: relative;
        padding-bottom: 10.25%;
        height: 0;
        overflow: hidden;
        border-style: none;
    }

    .googleMapEmbed iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-style: none;
    }

    .pragueBranch{
        font-size: 25px;
        font-weight: bold;
    }

    .brnoBranch{
        font-size: 25px;
        font-weight: bold;
    }
}

.photo{
    }
    h1{
        text-align: center;
    }
  .container-all{
    width: fit-content;
    margin: 20px auto;
    height: auto;
  }
  .container{
    width: calc(33% - 6px);
    overflow:hidden;
    height: fit-content;
    margin:3px;
    padding: 0;
    display:block;
    position:relative;
    float:left;
  }
  img{
    width: 100%;
    transition-duration: .3s;
    max-width: 100%;
    display:block;
    overflow:hidden;
    cursor:pointer;
  }
  .title{
    position:absolute;
    display:block;
    cursor:pointer;
    top: 35%;
    display: none;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.6em;
    text-shadow: 1px 5px 10px black;
    transition-duration: .3s;
  }
  .text{
    position:absolute;
    top: 70%;
    cursor:pointer;
    max-width: 80%;
    text-align:center;
    left: 50%;
    text-shadow: 1px 5px 10px black;
    font-size: 2em;
    display:none;
    margin-right: -50%;
    transition-duration: .3s;
    transform: translate(-50%, -50%) 
  }
  .container:hover img{
    transform: scale(1.2);
    transition-duration: .3s;
    filter: grayscale(100%);
    filter: blur(5px);
    opacity: .7;
  }
  .container:hover span{
    color: rgb(0, 0, 0);
    display: block;
    transition-duration: .3s;
  }

  @media only screen and (max-width: 1323px) {
    .title{
        visibility: hidden;
      }
      .title{
        visibility: hidden;
      }

      .text{
        top: 50%;
        font-size: 1em;
      }
  }

  @media only screen and (max-width: 900px) {
      .container {
          width: calc(50% - 6px);
      }
     
  }
  @media only screen and (max-width: 400px) {
      .container {
          width: 100%;
      }
    }

